* {
    font-family: Tahoma;
}

body {
    background: url(bg.png) no-repeat;
    background-size: contain;
    background-color: #425a0e;
}

.subheadline {
    color: #ffffff;
    text-shadow: 0px 1px 2px #000000;
    border: 2px solid #3B77BC;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to bottom, #3b77bc, #407cc1, #4581c6, #4a86cc, #4f8bd1);
    margin-bottom: 0px !important;
}

.subheadline a,
.subheadline a:before {
    color: #ffffff;
    text-shadow: 0px 1px 2px #000000;
    padding-right: 0px;
    margin-right: 50px;
}

.l-page {
    background-color: transparent;
}

/* Profile Block */
.profile-head {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-head .c-brief,
.profile-head .c-info {
    width: 70%;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.4);
}

.profile-head .c-brief {
    border: 2px solid #3B77BC;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to bottom, #3b77bc, #407cc1, #4581c6, #4a86cc, #4f8bd1);
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.profile-head .c-brief .avatar {
    margin: 0px 15px 0px 0px !important;
}

.profile-head .c-brief .avatar img {
    height: 100px !important;
    width: 100px !important;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.profile-head .c-brief .avatar .profile-actions a:before {
    color: #ffffff;
}

.profile-head .c-brief .head h1,
.profile-head .c-brief .head span {
    color: #ffffff;
}

.c-history {
    background-color: transparent;
    position: absolute !important;
    right: 15px;
}

.c-history .b-block_list,
.profile-head .c-info {
    background-color: #ffffff;
    border: 2px solid #3B77BC;
    border-top: none;
    padding: 10px;
}

/* Content Block */
.profile-content .c-left {
    background-color: #ffffff;
    border: 2px solid #3B77BC;
    padding: 10px 10px 30px 10px;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.4);
}

.profile-content .c-right .cc-friends {
    background-color: #ffffff;
    border: 2px solid #3B77BC;
    border-top: none;
    padding: 5px 5px 0px 5px;
}

.profile-content .c-right .b-clubs {
    background-color: #ffffff;
    border: 2px solid #3B77BC;
    border-top: none;
    padding: 5px;
}

.profile-content .c-right .block .cc-favourites {
    background-color: #ffffff;
    border: 2px solid #3B77BC;
    border-top: none;
    padding: 5px;
}

.profile-content .c-right .m0,
.profile-content .c-right .block,
.profile-content .achievements,
.c-history {
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.4);
}

.profile-content .block:last-child {
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.4);
}

.profile-content .achievements .cc-2,
.profile-content .block:last-child>div:last-child {
    background-color: #ffffff;
    border: 2px solid #3B77BC;
    border-top: none;
    padding: 10px;
}

.profile-content .block:last-child>div:last-child .editor-container .subheadline {
    border: none;
    border-radius: 0px;
    background-image: none;
    background-color: transparent;
    color: #456;
    text-shadow: none;
    padding-left: 5px;
}

/* Copyright*/
.copyright::before {
    font-weight: bold;
    color: #202020;
    content: "theme design by Ja1z666 on GitHub ";
}

/* Click Effect */
.profile-content .cc-friends .b-user a img:active,
.profile-content .b-clubs .b-club a img:active,
.profile-content .cc-favourites article img:active {
    filter: opacity(60%);
}

.profile-content .cc-friends .b-user,
.profile-content .b-clubs .b-club,
.profile-content .cc-favourites article {
    background-color: #3B77BC;
}
